{% extends "base.html" %}
{% block title %}Apply · Student Admission Portal{% endblock %}
{% block content %}
<h2>Student Application</h2>
<form method="post" novalidate class="mt-3">
  {{ form.hidden_tag() }}
  <div class="row g-3">
    <div class="col-md-6">
      <label class="form-label">Full Name</label>
      {{ form.full_name(class="form-control") }}
      {% for e in form.full_name.errors %}<div class="text-danger small">{{e}}</div>{% endfor %}
    </div>
    <div class="col-md-6">
      <label class="form-label">Email</label>
      {{ form.email(class="form-control") }}
      {% for e in form.email.errors %}<div class="text-danger small">{{e}}</div>{% endfor %}
    </div>
    <div class="col-md-6">
      <label class="form-label">Phone</label>
      {{ form.phone(class="form-control") }}
      {% for e in form.phone.errors %}<div class="text-danger small">{{e}}</div>{% endfor %}
    </div>
    <div class="col-md-6">
      <label class="form-label">Date of Birth</label>
      {{ form.dob(class="form-control", type="date") }}
      {% for e in form.dob.errors %}<div class="text-danger small">{{e}}</div>{% endfor %}
    </div>
    <div class="col-12">
      <label class="form-label">Address</label>
      {{ form.address(class="form-control", rows="2") }}
      {% for e in form.address.errors %}<div class="text-danger small">{{e}}</div>{% endfor %}
    </div>

    <!-- DROPDOWN: Course -->
    <div class="col-md-6">
      <label class="form-label">Course Applying For</label>
      {{ form.course(class="form-select") }}
      {% for e in form.course.errors %}<div class="text-danger small">{{e}}</div>{% endfor %}
    </div>

    <div class="col-12">
      <label class="form-label">Statement of Purpose</label>
      {{ form.statement(class="form-control", rows="4") }}
      {% for e in form.statement.errors %}<div class="text-danger small">{{e}}</div>{% endfor %}
    </div>
  </div>
  <div class="mt-3">
    {{ form.submit(class="btn btn-success") }}
  </div>
</form>
{% endblock %}
